#slider {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
    display: flex;

}
#slider figure img {
    float: left;
    width: 20%;
    height: auto;
    object-fit: cover;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% { 
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
    

}
img{
    height: 300px;
    width: 300px;
    border: 50%;
    margin-right: 40%;
}